/* .content {
    padding: 0px 10px;
} */

.title {
    border-bottom: solid #F0572D;
    margin-bottom: 20px;
}

.subtitle {
    margin: 15px 0px;
}

.map {
    border-style: none;
    width: 100%;
    height: 500px;
}

@media (min-width: 641px) and (max-width: 1007px) {

    /* .content {
        padding: 0px 20px;
    } */
    
}

@media (min-width: 1008px) {

    /* .content {
        padding: 0px 20px;
    } */

}