.dateSelector {
    display: flex;
    width: 100%;
    align-items: center;
    height: 40px;
    padding: 10px;
    outline: 0px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.dateSelector img {
    margin-right: 10px;
}

.datePicker {
    width: 100%;
    border: none;
    outline: 0px;
    background-color: #FFFFFF;
    font-size: 1rem;
}

@media (min-width: 640px) {
    .dateSelector {
        width: 260px;
    }
}

@media (min-width: 980px) {
    .dateSelector {
        width: 380px;
    }
}