.search_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.search_form>button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #F0572D;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
}

.search_form>button:hover {
    background-color: #EE8669;
}

@media (min-width: 640px) {

    .search_form {
        flex-direction: row;
        justify-content: center;
    }

    .search_form>button {
        width: inherit;
    }

}

@media (min-width: 980px) {

    .search_form {
        flex-direction: row;
        justify-content: center;
    }

    .search_form>button {
        padding: 10px 40px;
    }

}